<% include partials/header %>
	<a href="/paintings" class="btn btn-default">Go Back</a>
	<h1><%=painting.name %> - <%=painting.description %></h1>
	<div class="row painting">
		<div class="col-md-4">
			<img src="/images/<%= painting.paintingimage %>">
		</div>
		<div class="col-md-8">
			<ul class="list-group">
				<li class="list-group-item"><strong>Type:</strong> <%= painting.type %></li>
				<li class="list-group-item"><strong>Size:</strong> <%= painting.size %></li>
				<li class="list-group-item"><strong>Price:</strong> <%= painting.price %></li>
			</ul>
		</div>
	</div>
  <hr />
  <br />
	<hr />
	<a href="/paintings/edit/<%= id %>" class="btn btn-default">Edit</a> 
	<a href="#" data-id="<%= id %>" class="delete-painting btn btn-danger">Delete</a>
<% include partials/footer %>